@import '~src/styles/variables';

$header-height: 56px !default;
$sidebar-width: 235px !default;
$collapsed-sidebar-width: 50px !default;

* {
  transition: margin-left 0.2s ease-in-out;
}

.main-container {
  margin-top: $header-height;
  margin-left: $sidebar-width;
  padding: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0;
  min-height: 100%;
}

.collapsed {
  margin-left: $collapsed-sidebar-width;
}

@media screen and (max-width: 992px) {
  .main-container {
    margin-left: 0px !important;
  }
}
