<ng-container [formGroup]="form">
  <div class="input-group">
    <input
      formControlName="date"
      type="text"
      class="form-control"
      bsDatepicker
      #dp="bsDatepicker"
      [bsConfig]="bsConfig"
      (blur)="onTouched()"
    />
    <div class="input-group-append">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="dp.show()"
        [attr.disabled]="date.disabled ? true : null"
      >
        <i class="fa fa-fw fa-calendar"></i>
      </button>
    </div>
  </div>
</ng-container>
