@import '~src/styles/variables';

$header-background-color: #222 !default;
$header-title-font-color: #fff !default;
$header-link-font-color: #999 !default;

$header-height: 56px !default;

:host {
  .navbar {
    height: $header-height;
    background-color: $header-background-color;

    .navbar-brand {
      display: flex;
      align-items: center;
      min-width: 219px;
      margin-right: 0;
      color: $header-title-font-color;
    }

    .navbar-toggler {
      &:focus {
        outline: 0;
      }

      &:hover {
        box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
      }
    }

    .nav-item {
      > a {
        color: $header-link-font-color;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  nav {
    padding: 0 10px;
  }
}
