.search-bottom {
  display: flex;
  justify-content: space-between;
}

.list-bottom {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

td {
  vertical-align: middle;
}

.list-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

ul {
  margin-bottom: 0;
}

thead {
  th.sort {
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }
  }
}
