.search-bottom {
  display: flex;
  justify-content: space-between;
}

.list-bottom {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

td {
  vertical-align: middle;
}

.pagination {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

ul {
  margin-bottom: 0;
}
