<div [@routerTransition]>
  <app-page-header [title]="'ユーザ管理'"></app-page-header>
  <div class="card m-t-lg">
    <div class="card-body">
      <form [formGroup]="searchForm" autocomplete="off">
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label col-form-label-sm"
            >メールアドレス</label
          >
          <input
            type="email"
            class="form-control form-control-sm col-sm-5"
            name="email"
            formControlName="email"
          />
        </div>
        <div class="form-group row">
          <label
            for="lastName"
            class="col-sm-2 col-form-label col-form-label-sm"
            >名前（姓）</label
          >
          <input
            type="text"
            class="form-control form-control-sm col-sm-5"
            name="lastName"
            formControlName="lastName"
          />
        </div>
      </form>
      <div class="search-bottom">
        <button type="button" class="btn btn-primary btn-sm" (click)="search()">
          <i class="fa fa-fw fa-search"></i>検索
        </button>
        <button
          type="button"
          class="btn btn-warning btn-sm m-l-sm"
          (click)="reset()"
        >
          <i class="fa fa-fw fa-refresh"></i>リセット
        </button>
      </div>
    </div>
  </div>
  <div class="card m-t-lg">
    <div class="card-body">
      <div class="list-bottom">
        <button type="button" class="btn btn-success btn-sm" (click)="search()">
          <i class="fa fa-fw fa-plus"></i>新規
        </button>
        <app-dropdown-page-lines
          class="m-l-sm"
          (select)="selectPageLines($event)"
        ></app-dropdown-page-lines>
      </div>
      <div class="pagination">
        全 {{ totalItems }} 件中 {{ fromItemNo }} 件 ～ {{ toItemNo }} 件を表示
      </div>
      <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th class="minimum-width"></th>
            <th>First</th>
            <th>Last</th>
            <th>Handle</th>
            <th class="minimum-width"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th nowrap="true">
              <button
                type="button"
                class="btn btn-warning btn-sm"
                (click)="search()"
              >
                <i class="fa fa-fw fa-edit"></i>修正
              </button>
            </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td nowrap="true">
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="search()"
              >
                <i class="fa fa-fw fa-times"></i>削除
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <pagination
          [boundaryLinks]="true"
          [totalItems]="77"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
        >
        </pagination>
      </div>
    </div>
  </div>
</div>
