<div [@routerTransition]>
  <app-page-header [title]="'ユーザ管理'"></app-page-header>
  <div class="card m-t-lg">
    <div class="card-body">
      <form class="row" [formGroup]="searchForm" autocomplete="off">
        <div class="form-group col-sm-5">
          <label for="email" class="col-form-label col-form-label-sm"
            >メールアドレス</label
          >
          <input
            type="email"
            class="form-control form-control-sm"
            name="email"
            formControlName="email"
          />
        </div>
        <div class="form-group  col-sm-5">
          <label for="lastName" class="col-form-label col-form-label-sm"
            >名前（姓）</label
          >
          <input
            type="text"
            class="form-control form-control-sm"
            name="lastName"
            formControlName="lastName"
          />
        </div>
        <div class="m-b-sm col-sm-12">
          <button
            type="button"
            class="btn btn-link btn-sm"
            (click)="openAdvance()"
          >
            <i
              class="fa fa-fw "
              [ngClass]="{ 'fa-plus': !showAdvance, 'fa-times': showAdvance }"
            ></i
            >詳細検索
          </button>
        </div>
        <ng-container *ngIf="showAdvance">
          <div class="dropdown-divider col-sm-12"></div>
          <div class="form-group col-sm-5">
            <label for="firstName" class="col-form-label col-form-label-sm"
              >名前（名）</label
            >
            <input
              type="text"
              class="form-control form-control-sm"
              name="firstName"
              formControlName="firstName"
            />
          </div>
        </ng-container>
      </form>
      <div class="search-bottom">
        <button
          type="button"
          class="btn btn-outline-primary btn-sm"
          (click)="search()"
        >
          <i class="fa fa-fw fa-search"></i>検索
        </button>
        <button
          type="button"
          class="btn btn btn-outline-secondary btn-sm m-l-sm"
          (click)="reset()"
        >
          <i class="fa fa-fw fa-refresh"></i>リセット
        </button>
      </div>
    </div>
  </div>
  <div class="card m-t-lg">
    <div class="card-body">
      <div class="list-bottom">
        <button
          type="button"
          class="btn btn-outline-primary btn-sm"
          (click)="create()"
        >
          <i class="fa fa-fw fa-plus"></i>新規
        </button>
        <app-dropdown-page-lines
          class="m-l-sm"
          (changePageLines)="changePageLines($event)"
        ></app-dropdown-page-lines>
      </div>
      <div class="pagination">
        全 {{ totalItems }} 件中 {{ fromItemNo }} 件 ～ {{ toItemNo }} 件を表示
      </div>
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th
              *ngFor="let item of headers"
              [ngClass]="{ 'minimum-width': item.isButton, sort: item.isSort }"
              (click)="setOrder(item.key, item.isSort)"
            >
              {{ item.name }}
              <span *ngIf="order === item.key">
                <i [hidden]="reverse" class="fa fa-sort-asc"></i>
                <i [hidden]="!reverse" class="fa fa-sort-desc"></i>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list | orderBy: order:reverse">
            <th nowrap="true">
              <button
                type="button"
                class="btn btn-outline-primary btn-sm"
                (click)="edit(item.id)"
              >
                <i class="fa fa-fw fa-edit"></i>修正
              </button>
            </th>
            <td>{{ item.userId }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.lastName }}</td>
            <td>{{ item.firstName }}</td>
            <td nowrap="true">
              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="remove(item.id)"
              >
                <i class="fa fa-fw fa-trash"></i>削除
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="list-footer">
        <app-custom-pagination
          [currentPage]="currentPage"
          [itemsPerPage]="10"
          [totalItems]="100"
          (pageChanged)="pageChanged($event)"
        ></app-custom-pagination>
      </div>
    </div>
  </div>
</div>
