<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img
        src="assets/images/login/logo.png"
        width="150px"
        class="user-avatar"
      />
      <h1>管理画面</h1>
      <form [formGroup]="form" autocomplete="off">
        <div class="form-content">
          <div class="form-group">
            <input
              type="text"
              class="form-control input-underline input-lg"
              name="userId"
              formControlName="userId"
              placeholder="ユーザID"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control input-underline input-lg"
              name="password"
              formControlName="password"
              placeholder="パスワード"
            />
          </div>
          <p *ngIf="errorMessage" class="text-danger">
            <i class="fa fa-times-circle-o"></i>{{ errorMessage }}
          </p>
        </div>
        <a class="btn rounded-btn" (click)="login()">ログイン</a>
      </form>
    </div>
  </div>
</div>
