<div class="input-group input-group-sm">
  <input type="text" class="form-control form-control-sm" />
  <div class="input-group-append" dropdown>
    <button
      type="button"
      class="btn btn-outline-secondary btn-sm dropdown-toggle"
      dropdownToggle
    ></button>
    <ul
      id="dropdown-basic"
      *dropdownMenu
      class="dropdown-menu"
      role="menu"
      aria-labelledby="button-basic"
    >
      <li role="menuitem">
        <a class="dropdown-item">Action</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item">Another action</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item">Something else here</a>
      </li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem">
        <a class="dropdown-item">Separated link</a>
      </li>
    </ul>
  </div>
</div>
