<div class="card">
  <div class="card-header">
    ng-select
  </div>
  <div class="card-body">
    <ng-select
      class="form-control form-control-sm"
      [items]="people"
      [multiple]="true"
      bindLabel="name"
      groupBy="gender"
      [selectableGroup]="true"
      [closeOnSelect]="false"
      bindValue="id"
      [(ngModel)]="selectedPeople"
    >
      <ng-template
        ng-optgroup-tmp
        let-item="item"
        let-item$="item$"
        let-index="index"
      >
        <input
          id="item-{{ index }}"
          type="checkbox"
          [ngModel]="item$.selected"
        />
        {{ item.gender | uppercase }}
      </ng-template>
      <ng-template
        ng-option-tmp
        let-item="item"
        let-item$="item$"
        let-index="index"
      >
        <input
          id="item-{{ index }}"
          type="checkbox"
          [ngModel]="item$.selected"
        />
        {{ item.name }}
      </ng-template>
    </ng-select>
  </div>
</div>
<div class="card m-t-lg">
  <div class="card-header">
    input-dropdown
  </div>
  <div class="card-body">
    <app-input-dropdown
      [parentForm]="form"
      controlName="hoge"
    ></app-input-dropdown>
  </div>
</div>
<div class="card m-t-lg">
  <div class="card-header">
    tab-button
  </div>
  <div class="card-body">
    <tabset type="pills">
      <tab heading="Pills 1"></tab>
      <tab heading="Pills 2"></tab>
    </tabset>
  </div>
</div>
<div class="card m-t-lg">
  <div class="card-header">
    typeahead
  </div>
  <div class="card-body">
    <input
      [(ngModel)]="selected"
      [typeahead]="states"
      [typeaheadOptionsInScrollableView]="5"
      [typeaheadScrollable]="true"
      class="form-control form-control-sm"
    />
  </div>
</div>

<div class="card m-t-lg">
  <div class="card-header">
    file-upload
  </div>
  <div class="card-body">
    <app-file-upload></app-file-upload>
  </div>
</div>
<form [formGroup]="form">
  <div class="card m-t-lg">
    <div class="card-header">
      reusable-form
    </div>
    <div class="card-body">
      <app-reusable-form formControlName="test"></app-reusable-form>
    </div>
  </div>
</form>

<div class="card  m-t-lg">
  <div class="card-header p-0">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/bs-component"
              routerLinkActive="active"
              >サンプルA</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active"
              >サンプルB</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user" routerLinkActive="active"
              >サンプルC</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="card-body">
    <p>test</p>
  </div>
</div>

<div class="card m-t-lg">
  <div class="card-header">
    virtual scroll
  </div>
  <div class="card-body">
    <div class="m-t-xs">
      <cdk-virtual-scroll-viewport itemSize="1" class="viewport">
        <table class="table table-bordered table-striped table-hover table-sm">
          <thead>
            <tr>
              <th class="sticky-header" *ngFor="let item of vsHeaders">
                {{ item.name }}
              </th>
            </tr>
          </thead>

          <tbody>
            <ng-container *cdkVirtualFor="let item of vsItems; let i = index">
              <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ item.detail }}</td>
                <td>{{ item.createdAt }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
