// Layout
$header-height: 44px;
$sidebar-width: 235px;
$collapsed-sidebar-width: 50px;

// Color
$header-background-color: #222;
$header-title-font-color: #fff;
$header-link-font-color: #999;
$sidebar-background-color: #222;
$sidebar-font-color: #999;

$page-background-color: #f0f0f0;
