// Layout
$header-height: 56px;
$sidebar-width: 235px;

// Color
$header-background-color: #222;
$header-title-font-color: #fff;
$header-link-font-color: #999;

$sidebar-background-color: #222;
$sidebar-font-color: #999;
