/* You can add global styles to this file, and also import other style files */
@import 'spinner';
@import 'variables';
@import 'util';
@import 'custom-bootstrap';
@import '~@ng-select/ng-select/themes/default.theme.css';

//
// Global CSS
//
html {
  height: 100%;
}

body {
  height: calc(100% - #{$header-height});
  color: #333;
  font-weight: 400;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Noto Sans JP',
    'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  line-height: 1.65;
  letter-spacing: 0.1rem;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.minimum-width {
  width: 1%;
}

.w-100px {
  min-width: 100px;
}

// Form
.ng-invalid.ng-dirty:not(form),
.ng-invalid.ng-touched:not(form) {
  border-color: lightcoral;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(240, 128, 128, 0.25);
}

// FontAwesome

.fa-disable {
  color: #bdbdbd;
}
