/* You can add global styles to this file, and also import other style files */
@import 'spinner';
@import 'variables';
@import 'util';

@media screen and (max-width: 992px) {
  .push-right {
    .sidebar {
      left: 235px !important;
    }
  }
}

html {
  height: 100%;
}

body {
  height: calc(100% - #{$header-height});
  font-family: 'Noto Sans Japanese', sans-serif;
  font-weight: 350;
}
