/* You can add global styles to this file, and also import other style files */
@import 'spinner';
@import 'variables';
@import 'util';
@import 'custom-bootstrap';

//
// Global CSS
//
html {
  height: 100%;
}

body {
  height: calc(100% - #{$header-height});
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Noto Sans JP',
    'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.65;
  letter-spacing: 0.1rem;
  text-align: justify;
}

.minimum-width {
  width: 1%;
}

.w-100px {
  width: 100px;
}

// Form
.ng-invalid.ng-dirty:not(form) {
  border: solid 2px lightcoral;
}
