<div class="card">
  <div class="card-header">
    ng-select
  </div>
  <div class="card-body">
    <ng-select
      class="form-control form-control-sm"
      [items]="people"
      [multiple]="true"
      bindLabel="name"
      groupBy="gender"
      [selectableGroup]="true"
      [closeOnSelect]="false"
      bindValue="id"
      [(ngModel)]="selectedPeople"
    >
      <ng-template
        ng-optgroup-tmp
        let-item="item"
        let-item$="item$"
        let-index="index"
      >
        <input
          id="item-{{ index }}"
          type="checkbox"
          [ngModel]="item$.selected"
        />
        {{ item.gender | uppercase }}
      </ng-template>
      <ng-template
        ng-option-tmp
        let-item="item"
        let-item$="item$"
        let-index="index"
      >
        <input
          id="item-{{ index }}"
          type="checkbox"
          [ngModel]="item$.selected"
        />
        {{ item.name }}
      </ng-template>
    </ng-select>
  </div>
</div>
<div class="card m-t-lg">
  <div class="card-header">
    input-dropdown
  </div>
  <div class="card-body">
    <app-input-dropdown
      [parentForm]="form"
      controlName="hoge"
    ></app-input-dropdown>
  </div>
</div>
