<ng-container [formGroup]="parentForm">
  <div class="input-group input-group-sm">
    <input
      type="text"
      class="form-control form-control-sm"
      [formControlName]="controlName"
    />
    <div class="input-group-append" dropdown>
      <button
        type="button"
        class="btn btn-outline-secondary btn-sm dropdown-toggle"
        dropdownToggle
      ></button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem" *ngFor="let item of items">
          <a
            href="javascript:void(0)"
            class="dropdown-item"
            (click)="select(item)"
            >{{ item }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</ng-container>
