<div [@routerTransition]>
  <app-page-header [title]="'ユーザ管理'" [subTitle]="'登録'"></app-page-header>

  <div class="container card m-t-lg">
    <div class="card-body">
      <form [formGroup]="form" autocomplete="off">
        <div [class]="formGroupClass">
          <label [class]="labelClass"
            >ユーザID<app-required></app-required
          ></label>
          <input type="text" [class]="inputClass" formControlName="userId" />
          <app-error-label
            *ngIf="userId?.invalid && (userId?.dirty || userId?.touched)"
            [class]="errorLabelClass"
            [errors]="userId.errors"
          ></app-error-label>
        </div>

        <ng-container *ngIf="!id">
          <div [class]="formGroupClass">
            <label [class]="labelClass"
              >パスワード<app-required></app-required
            ></label>
            <input
              type="text"
              [class]="inputClass"
              formControlName="password"
            />
            <app-error-label
              *ngIf="
                password?.invalid && (password?.dirty || password?.touched)
              "
              [class]="errorLabelClass"
              [errors]="password.errors"
            ></app-error-label>
          </div>

          <div [class]="formGroupClass">
            <label [class]="labelClass"
              >パスワード（確認）<app-required></app-required
            ></label>
            <input
              type="text"
              [class]="inputClass"
              formControlName="confirmPassword"
            />
            <app-error-label
              *ngIf="
                confirmPassword?.invalid &&
                (confirmPassword?.dirty || confirmPassword?.touched)
              "
              [class]="errorLabelClass"
              [errors]="confirmPassword.errors"
            ></app-error-label>
          </div>
        </ng-container>

        <div [class]="formGroupClass">
          <label [class]="labelClass"
            >メールアドレス<app-required></app-required
            ><app-question-tooltip
              message="会社のメールアドレスを入力してください。"
            ></app-question-tooltip
          ></label>
          <input type="email" [class]="inputClass" formControlName="email" />
          <app-error-label
            *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            [class]="errorLabelClass"
            [errors]="email.errors"
          ></app-error-label>
        </div>

        <div [class]="formGroupClass">
          <label [class]="labelClass"
            >名前（姓）<app-required></app-required>
          </label>
          <input type="text" [class]="inputClass" formControlName="lastName" />
          <app-error-label
            *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
            [class]="errorLabelClass"
            [errors]="lastName.errors"
          ></app-error-label>
        </div>

        <div [class]="formGroupClass">
          <label [class]="labelClass"
            >名前（名）<app-required></app-required
          ></label>
          <input type="text" [class]="inputClass" formControlName="firstName" />
          <app-error-label
            *ngIf="
              firstName?.invalid && (firstName?.dirty || firstName?.touched)
            "
            [class]="errorLabelClass"
            [errors]="firstName.errors"
          ></app-error-label>
        </div>

        <div [class]="formGroupClass">
          <label [class]="labelClass">誕生日</label>
          <app-date-input
            class="col-sm-9"
            [parentForm]="form"
            controlName="birthday"
          ></app-date-input>
          <app-error-label
            *ngIf="birthday?.invalid && (birthday?.dirty || birthday?.touched)"
            [class]="errorLabelClass"
            [errors]="birthday.errors"
          ></app-error-label>
        </div>
      </form>
      <div class="detail-bottom">
        <button
          type="button"
          class="btn btn btn-outline-secondary btn-sm m-l-sm"
          (click)="cancel()"
        >
          <i class="fa fa-fw fa-times"></i>キャンセル
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm w-100px"
          (click)="register()"
          [attr.disabled]="form.valid && form.dirty ? null : true"
        >
          <i class="fa fa-fw fa-edit"></i>登録
        </button>
      </div>
    </div>
  </div>
</div>
