.drag-drop-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(1.5em + 0.5rem + 2px);
  border: 3px dotted #adadad;
  border-radius: 8px;

  span {
    color: #707070;
    font-size: 14px;
  }
}

.fileup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #6c757d;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  border: 1px solid #6c757d;
  border-color: #6c757d;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;

  &:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }

  label {
    margin: 0;
  }

  #fileInput {
    display: none;
  }

  .file-preview {
    max-width: 200px;
    margin-right: 20px;
  }
}

.file-image {
  display: flex;
  justify-content: flex-start;

  label {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  button {
    height: calc(1.5em + 0.5rem + 2px);
  }
}
