<div class="row">
  <div
    class="drag-drop-area col-sm-7"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
  >
    <span>ドラッグ＆ドロップ</span>
  </div>
  <div class="fileup col-sm-5 disabled" [ngClass]="{ disabled: disabled }">
    <label for="fileInput">
      <input
        id="fileInput"
        type="file"
        [accept]="fileTypes.join(',')"
        [attr.maxsize]="maxsize"
        [attr.disabled]="disabled ? true : null"
        (change)="onFileSelect($event)"
      />
      <span>ファイルを選択</span>
    </label>
  </div>
  <div class="file-image col-sm-12 m-t-sm" *ngIf="image">
    <div>
      <img class="file-preview" [src]="image?.src" alt="イメージ" />
    </div>
    <label class="m-l-sm">{{ image?.name }}</label>
    <button
      type="button"
      class="btn btn-outline-secondary m-l-sm"
      (click)="deleteImage()"
      [attr.disabled]="disabled ? true : null"
    >
      <i class="fa fa-fw fa-trash"></i>削除
    </button>
  </div>
</div>
