<div [ngClass]="{ 'push-right': overSidebar }">
  <nav class="sidebar" [ngClass]="{ collapsed: collapsed }">
    <app-collapse-button></app-collapse-button>
    <div class="list-group">
      <a
        [routerLink]="['/home']"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
      >
        <i class="fa fa-fw fa-home"></i>&nbsp;
        <span>ホーム</span>
      </a>
      <a
        routerLink="/user"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
      >
        <i class="fa fa-fw fa-user"></i>&nbsp;
        <span>ユーザ管理</span>
      </a>
      <a
        [routerLink]="['/charts']"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
      >
        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
        <span>Charts</span>
      </a>
      <a
        [routerLink]="['/tables']"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
      >
        <i class="fa fa-fw fa-table"></i>&nbsp;
        <span>Tables</span>
      </a>
      <a
        [routerLink]="['/forms']"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
      >
        <i class="fa fa-fw fa-edit"></i>&nbsp;
        <span>Forms</span>
      </a>
      <a
        [routerLink]="['/bs-element']"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
      >
        <i class="fa fa-fw fa-desktop"></i>&nbsp;
        <span>Bootstrap Element</span>
      </a>
      <a
        [routerLink]="['/grid']"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
      >
        <i class="fa fa-fw fa-wrench"></i>&nbsp;
        <span>Bootstrap Grid</span>
      </a>
      <div class="header-fields">
        <a (click)="logout()" class="list-group-item">
          <span><i class="fa fa-fw fa-sign-out"></i>&nbsp; ログアウト</span>
        </a>
      </div>
    </div>
  </nav>
</div>
