<div [ngClass]="{ 'push-right': overSidebar }">
  <nav class="sidebar" [ngClass]="{ collapsed: collapsed }">
    <app-collapse-button></app-collapse-button>
    <div class="list-group">
      <a
        [routerLink]="['/home']"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
      >
        <i class="fa fa-fw fa-home"></i>&nbsp;
        <span>ホーム</span>
      </a>
      <a
        [routerLink]="['/user']"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
      >
        <i class="fa fa-fw fa-user"></i>&nbsp;
        <span>ユーザ管理</span>
      </a>
      <a
        [routerLink]="['/bs-component']"
        [routerLinkActive]="['router-link-active']"
        class="list-group-item"
      >
        <i class="fa fa-fw fa-desktop"></i>&nbsp;
        <span>BS Component</span>
      </a>
      <div class="header-fields">
        <a (click)="logout()" class="list-group-item">
          <span><i class="fa fa-fw fa-sign-out"></i>&nbsp; ログアウト</span>
        </a>
      </div>
    </div>
  </nav>
</div>
