.edit-bottom {
  display: flex;
  justify-content: space-between;
}

.input-group {
  padding-right: 0;
  padding-left: 0;
}

.error-label {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.ng-invalid.ng-dirty:not(form),
.ng-invalid:not(form).form-submitted {
  border: solid 2px lightcoral;
}
