<div [@routerTransition]>
  <app-page-header [title]="'ユーザ管理'" [subTitle]="'登録'"></app-page-header>

  <div class="container card m-t-lg">
    <div class="card-body">
      <form [formGroup]="form" autocomplete="off">
        <div [class]="formGroupClass">
          <label [class]="labelClass"
            >メールアドレス<app-required></app-required
            ><app-question-tooltip
              message="会社のメールアドレスを入力してください。"
            ></app-question-tooltip
          ></label>
          <input type="email" [class]="inputClass" formControlName="email" />
          <app-error-label
            [class]="errorLabelClass"
            [form]="email"
          ></app-error-label>
        </div>

        <div [class]="formGroupClass">
          <label [class]="labelClass"
            >名前（姓）<app-required></app-required>
          </label>
          <input type="text" [class]="inputClass" formControlName="lastName" />
        </div>

        <div [class]="formGroupClass">
          <label [class]="labelClass"
            >名前（名）<app-required></app-required
          ></label>
          <input type="text" [class]="inputClass" formControlName="firstName" />
        </div>

        <div [class]="formGroupClass">
          <label [class]="labelClass">誕生日</label>
          <app-date-input class="col-sm-9"></app-date-input>
        </div>
      </form>
      <div class="detail-bottom">
        <button
          type="button"
          class="btn btn btn-outline-secondary btn-sm m-l-sm"
          (click)="cancel()"
        >
          <i class="fa fa-fw fa-times"></i>キャンセル
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm w-100px"
          (click)="register()"
          [attr.disabled]="form.valid && form.dirty ? null : true"
        >
          <i class="fa fa-fw fa-edit"></i>登録
        </button>
      </div>
    </div>
  </div>
</div>
