<div [@routerTransition]>
  <app-page-header [title]="'ユーザ管理'" [subTitle]="'登録'"></app-page-header>
  <div class="card m-t-lg col-lg-9">
    <div class="card-body">
      <form [formGroup]="form" autocomplete="off">
        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label col-form-label-sm"
            >メールアドレス<span class="badge badge-danger m-l-xxs"
              >必須</span
            ></label
          >
          <input
            type="email"
            class="form-control form-control-sm col-sm-9"
            name="email"
            formControlName="email"
          />
        </div>
        <div class="form-group row">
          <label
            for="lastName"
            class="col-sm-3 col-form-label col-form-label-sm"
            >名前（姓）<span class="badge badge-danger  m-l-xxs"
              >必須</span
            ></label
          >
          <input
            type="text"
            class="form-control form-control-sm col-sm-9"
            name="lastName"
            formControlName="lastName"
          />
        </div>
      </form>
      <div class="edit-bottom">
        <button
          type="button"
          class="btn btn btn-outline-secondary btn-sm m-l-sm"
          (click)="cancel()"
        >
          <i class="fa fa-fw fa-times"></i>キャンセル
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm w-100px"
          (click)="edit()"
        >
          <i class="fa fa-fw fa-edit"></i>登録
        </button>
      </div>
    </div>
  </div>
</div>
