@import '~src/styles/variables';

$header-background-color: #222 !default;
$header-title-font-color: #fff !default;
$header-link-font-color: #999 !default;

:host {
  .navbar {
    background-color: $header-background-color;
    .navbar-brand {
      color: $header-title-font-color;
    }
    .nav-item > a {
      color: $header-link-font-color;
      &:hover {
        color: #fff;
      }
    }
  }
}
