<div class="btn-group" dropdown>
  <button
    id="button-basic"
    dropdownToggle
    type="button"
    class="btn btn-outline-secondary btn-sm dropdown-toggle"
  >
    表示件数 <span class="caret"></span>
  </button>
  <ul
    id="dropdown-basic"
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
  >
    <li *ngFor="let lines of pageLines">
      <a
        class="dropdown-item"
        href="javascript:void(0)"
        (click)="selectItemsPerPage(lines)"
        >{{ lines }}</a
      >
    </li>
  </ul>
</div>
