<div [@routerTransition]>
  <app-page-header [title]="'ユーザ管理'"></app-page-header>
  <app-user-search
    [searchParam]="searchParam"
    (searched)="search($event)"
  ></app-user-search>
  <div class="card m-t-lg">
    <div class="card-body">
      <div class="list-bottom">
        <button
          type="button"
          class="btn btn-primary w-100px"
          (click)="create()"
        >
          <i class="fa fa-fw fa-plus"></i>新規
        </button>
        <app-dropdown-page-lines
          class="m-l-sm"
          (changeItemsPerPage)="changeItemsPerPage($event)"
        ></app-dropdown-page-lines>
      </div>
      <ng-container *ngIf="list$ | async as user; else notFound">
        <div class="pagination">
          全 {{ totalItems }} 件中 {{ fromItem }} 件 ～ {{ toItem }} 件を表示
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th
                  *ngFor="let item of headers"
                  [ngClass]="{
                    'minimum-width': item.isButton,
                    sort: item.isSort
                  }"
                  (click)="setOrder(item.key, item.isSort)"
                >
                  <ng-container *ngIf="item.isSort">
                    {{ item.name }}
                    <ng-container *ngIf="order !== item.key; else elseBlock">
                      <i class="fa fa-sort fa-disable"></i>
                    </ng-container>
                    <ng-template #elseBlock>
                      <i [hidden]="reverse" class="fa fa-sort-asc"></i>
                      <i [hidden]="!reverse" class="fa fa-sort-desc"></i>
                    </ng-template>
                  </ng-container>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of user | orderBy: order:reverse">
                <th nowrap="true">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="edit(item.id)"
                  >
                    <i class="fa fa-fw fa-edit"></i>修正
                  </button>
                </th>
                <td>{{ item.userId }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.lastName }}</td>
                <td>{{ item.firstName }}</td>
                <td nowrap="true">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="remove(item.id)"
                  >
                    <i class="fa fa-fw fa-trash"></i>削除
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="list-footer">
          <app-custom-pagination
            [currentPage]="currentPage"
            [itemsPerPage]="itemsPerPage"
            [totalItems]="totalItems"
            (pageChanged)="pageChanged($event)"
          ></app-custom-pagination>
        </div>
      </ng-container>
      <ng-template #notFound>
        <p>検索結果は0件です</p>
      </ng-template>
    </div>
  </div>
</div>
