<div class="modal-header">
  <h4 class="modal-title pull-left">確認</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{ msg }}
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-success btn-sm w-100px"
    (click)="bsModalRef.hide()"
  >
    OK
  </button>
  <button
    type="button"
    class="btn btn btn-outline-secondary btn-sm"
    (click)="bsModalRef.hide()"
  >
    キャンセル
  </button>
</div>
